*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-top {
    background-color: white;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#page-description {
    padding: 20px;
    font-weight: 600;
    font-size: 24px;
}

.register-content {
    text-align: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    
}

.register-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 20px;
    
}

.register-item p {
    color: #000;
}

.register-item h3 {
    font-size: 20px;
}

.accordion-container {
    background-color: #F1F2F4;
    width: 100%;
}

.accordion-button {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 25px;
    color: black;
    font-weight: bolder;
}

.panel {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.property-option{
    margin-top: 80px;
    background-color: #F1F2F4;
    border-top: 1px solid #D6D5D5;
}

.property-option ul{
    list-style: none;
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.property-option ul li{
    list-style: none;
    margin: 10px 0;
    padding: 12px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.property-option ul li:first-child{
    padding-top: 5px;
}


.property-option ul li a{
    margin-top: 10px;
    margin-left: 0;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
   
}

.property-option ul li img{
  margin-right: 20px;
  
}

@media (max-height: 667px){
    .property-option{
        margin-top: 10px;
    }
}

@media (min-height: 844px){
    .register-content{
        margin-top: 20px;
    }
}