*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.position-image {
    text-align: center;
}

.position-image img{
    width: 90%;
    height: 80%;
}

.tutorial {
    text-align: center;
    width: 80%;
    margin: 40px auto 20px;
}

.ball-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-options {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    gap: 100%;
}

.text-options a {
    font-weight: bold;
}

@media (max-width: 375px) {

    .ball-container {
        margin-top: 15px;
    }

    .text-options {
        margin-top: 25px;
    }
}

@media (max-height: 667px) {

    .position-image{
        margin-top: 5px;
    }
    .position-image img{
        width: 80%;
        height: 80%;
    }

@media(orientation: landscape){
    body{
        overflow: auto;
        height: 100%;
    }
    .text-options {
        position: static;
        display: flex;
        justify-content: space-around;
        left: 0;
        transform: translateX(0%);
        gap: 0;
    }

    .position-image {
        text-align: center;
        height: 80%;
    }

    .position-image img{
        width: 30%;
        height: 30%;
    }

    .tutorial {
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
    
    }
}
