*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.position-image {
    text-align: center;
}

.position-image img{
    width: 90%;
    height: 80%;
}

.tutorial {
    text-align: center;
    width: 80%;
    margin: 40px auto 20px;
}

.ball-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-options {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 40px 0;
}

.text-options a {
    font-weight: bold;
    align-self: flex-start;
}

@media (max-width: 375px) {

    .ball-container {
        margin-top: 15px;
    }

    .text-options {
        margin-top: 25px;
    }
}

    @media (max-height: 667px) {

        .position-image{
            margin-top: 5px;
        }
        .position-image img{
            width: 80%;
            height: 80%;
        }
    }

    @media(min-height: 823px){
        .text-options{
            margin-top: 90px;
        }       
        
    }
