* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-item li {
    list-style: square;
    margin-left: 25px;
}

.accordion-container {
    margin: auto 0;
    background-color: #F1F2F4;
    width: 100%;
}

.accordion-button {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 25px;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button i {
    display: none;
    color: green;
}

.chevron{
    transition: 0.3s ease;
}

.panel {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.interior-panel {
    text-align: center;
    margin-bottom: 8px;
}

.interior-panel p {
    opacity: 0.7;
}

.file-upload {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    background-color: var(--global-primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 65px;
}

.file-upload label:hover {
    background-color: var(--global-secondary-color);
}

.file-upload span {
    opacity: 0.7;
    margin-top: 10px;
    margin-left: 7px;
}

.file-name {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.photo-buttons {
    display: flex;
    justify-content: space-around;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-item p {
    margin-bottom: 10px;
    font-weight: 600;
}

.photo-item img {
    width: 55px;
    margin: 15px 0;
}

#take-photo {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#camera-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#camera-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#camera-container button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(150, 150, 150, 0.6);
    z-index: 2;
}

#photo {
    display: none;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}